<div class="portfolio" style="background-color: #f8f9fa">
    <div class="container {f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
        <div class="row">
            <!-- Titel -->
            <div class="col-lg-12 text-center">
                <f:if condition="{data.tx_mask_slideshow_title}">
                    <h2 class="section-heading text-uppercase frame-space-after-large">{data.tx_mask_slideshow_title}</h2>
                </f:if>
            </div>
            <!-- Carousel -->
            <div id="modulCarousel{data.uid}" class="carousel slide" data-interval="false">
                <!-- Indikatoren -->
                <ol class="carousel-indicators">
                    <f:for each="{data.tx_mask_slider_page}" as="module" iteration="i">
                        <li data-target="#modulCarousel{data.uid}" data-slide-to="{i.index}" class="{f:if(condition: '{i.index} == 0', then: 'active')}"></li>
                    </f:for>
                </ol>
                <!-- Moduldarstellung -->
                <div class="carousel-inner rounded" data-interval="false">
                    <f:for each="{data.tx_mask_slider_page}" as="module" iteration="i">
                        <div class="carousel-item {f:if(condition:i.isFirst, then: 'active')}">
                            <!-- Hintergrundbild -->
                            <f:if condition="{module.tx_mask_background_image}">
                                <div class="carousel-background-image" >
                                    <f:for each="{module.tx_mask_background_image}" as="file">
                                        <f:image image="{file}"></f:image>
                                    </f:for>
                                </div>
                            </f:if>
                            <div class="carousel-container" style="width: 100%;height: 100%;padding: 40px;">

                                <div class="carousel-info-item">
                                    <h4 class="carousel-modul-title">
                                        <b>
                                            <f:if condition="{module.tx_mask_module_name}">
                                                {module.tx_mask_module_name}
                                            </f:if>
                                        </b>
                                    </h4>
                                </div>
                                <!--Informationselemente der Wahlpflichtfächer-->
                                <div class="carousel-info-item">
                                    <f:if condition="{data.tx_mask_label_focus_area}">
                                        <b>{data.tx_mask_label_focus_area}</b>
                                    </f:if>
                                    <f:if condition="{module.tx_mask_modul_focus_area}">
                                        {module.tx_mask_modul_focus_area}
                                    </f:if>
                                </div>

                                <div class="carousel-info-item">
                                    <f:if condition="{data.tx_mask_label_time_required}">
                                        <b>{data.tx_mask_label_time_required}</b>
                                    </f:if>
                                    <f:if condition="{module.tx_mask_module_required_time}">
                                        {module.tx_mask_module_required_time}
                                    </f:if>
                                </div>

                                <div class="carousel-info-item">
                                    <f:if condition="{data.tx_mask_label_suggested_requirements}">
                                        <b>{data.tx_mask_label_suggested_requirements}</b>
                                    </f:if>
                                    <f:if condition="{module.tx_mask_module_suggested_requirements}">
                                        {module.tx_mask_module_suggested_requirements}
                                    </f:if>
                                </div>

                                <div class="carousel-info-item">
                                    <f:if condition="{data.tx_mask_label_exam}">
                                        <b>{data.tx_mask_label_exam}</b>
                                    </f:if>
                                    <f:if condition="{module.tx_mask_module_exam}">
                                        {module.tx_mask_module_exam}
                                    </f:if>
                                </div>

                                <div class="carousel-info-item">
                                    <f:if condition="{data.tx_mask_label_module_description}">
                                        <b>{data.tx_mask_label_module_description}</b>
                                    </f:if>
                                    <f:if condition="{module.tx_mask_module_description}">
                                        {module.tx_mask_module_description}
                                    </f:if>
                                </div>

                            </div>
                        </div>
                    </f:for>
                </div>
                <!-- Buttons -->
                <a class="carousel-control-prev" href="#modulCarousel{data.uid}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#modulCarousel{data.uid}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>