<f:if condition="{data.tx_mask_accordion}">

    <div class="{f:if(condition: '{content.check}==1', then: 'bg-light')} portfolio">
        <div class="container {f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
            <div class="row">
                <!--Titel-->
                <div class="col-lg-12 text-center">
                    <f:if condition="{data.tx_mask_header}">
                        <h2 class="section-heading text-uppercase frame-space-after-large">{data.tx_mask_header}</h2>
                    </f:if>
                </div>

                <div class="accordion" id="c{data.uid}">

                    <f:for each="{data.tx_mask_accordion}" as="data_item" iteration="i">

                        <div class="card">
                            <!--Akkordeonklappentitel-->
                            <div class="card-header" id="heading{data.uid}{i.index}" data-toggle="collapse" data-target="#collapse{data.uid}{i.index}" aria-expanded="{f:if(condition: i.isFirst, then: 'true', else: 'false')}" aria-controls="collapse{data.uid}{i.index}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link">
                                        <f:if condition="{data_item.tx_mask_subjectarea}">
                                            {data_item.tx_mask_subjectarea}
                                        </f:if>
                                    </button>
                                </h5>
                            </div>
                            <!--Einfügen der Teammitglieder-Informationen-->
                            <div id="collapse{data.uid}{i.index}" class="collapse {f:if(condition: i.isFirst, then: 'show')}" aria-labelledby="heading{data.uid}{i.index}" data-parent="#c{data.uid}">
                                <div class="card-body">
                                    <div class="row">
                                        <f:if condition="{data_item.tx_mask_teammember}">
                                            <f:for each="{data_item.tx_mask_teammember}" as="data_item_item">
                                                <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
                                            </f:for>
                                        </f:if>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:for>

                </div>
            </div>
        </div>
    </div>
</f:if>