<div class="team-member col-md-4">

    <f:for each="{data.tx_mask_profilpicture}" as="file">
        <f:media class="mx-auto rounded-circle" file="{file}" width="200" height="200" />
        {file.description}
    </f:for>
    
    <f:if condition="{data.tx_mask_name}">
        <h4>{data.tx_mask_name}</h4>
    </f:if>
    <f:if condition="{data.tx_mask_subjectarea}">
        <p>{data.tx_mask_subjectarea}</p>
    </f:if>

    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <f:if condition="{data.tx_mask_email}">
                <f:link.typolink parameter="{data.tx_mask_email}">
                    <i class="fa-solid fa-envelope"></i>
                </f:link.typolink>
            </f:if>
        </li>
        <li class="list-inline-item">
            <f:if condition="{data.tx_mask_contactinfo}">
                <f:link.typolink parameter="{data.tx_mask_contactinfo}">
                    <i class="fab fa-solid fa-address-card" aria-hidden="true"></i>
                </f:link.typolink>
            </f:if>
        </li>
    </ul>
</div>