<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="ns-backend-preview">
    <h2><b><f:translate key="LLL:EXT:ns_theme_agency/Resources/Private/Language/locallang_db.xlf:wizard.ns_teaser" /></b></h2>
    <header>
        <div class="row">
            <div style="text-align: center;">
                <f:if condition="{flexformData.headline}">
                    <h3><b>{flexformData.headline}</b></h3>
                </f:if>
                <f:if condition="{flexformData.subHeadline}">
                    <h4 class="subheader">{flexformData.subHeadline}</h4>
                </f:if>
            </div>
            <f:if condition="{flexformData.teaser}">
                <f:for each="{flexformData.teaser}" as="item">
                    <div class="col-md-4">
                        <div class="teser-grid">
                            <div class="portfolio-image teaser">
                                <f:if condition="{item.container.check} == '1'">
                                    <f:then>
                                        <f:image src="{item.container.image}" width="100c" height="100c" />
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{item.container.icon}">
                                            <i class="fa {item.container.icon}"></i>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </div>
                            <div class="portfolio-dec">
                                <f:if condition="{item.container.title}">
                                    <h3>{item.container.title}</h3>
                                </f:if>
                                <f:if condition="{item.container.text}">
                                    <f:format.crop maxCharacters="200">
                                        <f:format.html>{item.container.text}</f:format.html>
                                    </f:format.crop>
                                </f:if>
                                <f:if condition="{item.container.twitter}">
                                    <i class="fab fa-twitter"></i>
                                </f:if>
                                <f:if condition="{item.container.facebook}">
                                    <i class="fab fa-facebook-f"></i>
                                </f:if>
                                <f:if condition="{item.container.linkedin}">
                                    <i class="fab fa-linkedin"></i>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:for>
            </f:if>
            <div style="text-align: center;">
                <f:if condition="{flexformData.otherText}">
                    <f:format.html>{flexformData.otherText}</f:format.html>
                </f:if>
            </div>
        </div>
    </header>
</div>

</html>